---
swagger: "2.0"
info:
  version: "v1"
  title: "Transport for London Unified API"
host: "api.digital.tfl.gov.uk"
schemes:
- "https"
paths:
  /AccidentStats/{year}:
    get:
      tags:
      - "AccidentStats"
      summary: "Gets all accident details for accidents occuring in the specified\
        \ year"
      operationId: "AccidentStats_Get"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "year"
        in: "path"
        description: "The year for which to filter the accidents on."
        required: true
        type: "integer"
        format: "int32"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Tfl.Api.Presentation.Entities.AccidentStats.AccidentDetail"
  /AirQuality:
    get:
      tags:
      - "AirQuality"
      summary: "Gets air quality data feed"
      operationId: "AirQuality_Get"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters: []
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/System.Object"
  /BikePoint:
    get:
      tags:
      - "BikePoint"
      summary: "Gets all bike point locations. The Place object has an addtionalProperties\
        \ array which contains the nbBikes, nbDocks and nbSpaces\r\n            numbers\
        \ which give the status of the BikePoint. A mismatch in these numbers i.e.\
        \ nbDocks - (nbBikes + nbSpaces) != 0 indicates broken docks."
      operationId: "BikePoint_GetAll"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters: []
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Tfl.Api.Presentation.Entities.Place"
  /BikePoint/{id}:
    get:
      tags:
      - "BikePoint"
      summary: "Gets the bike point with the given id."
      operationId: "BikePoint_Get"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "id"
        in: "path"
        description: "A bike point id (a list of ids can be obtained from the above\
          \ BikePoint call)"
        required: true
        type: "string"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/Tfl.Api.Presentation.Entities.Place"
  /BikePoint/Search:
    get:
      tags:
      - "BikePoint"
      summary: "Search for bike stations by their name, a bike point's name often\
        \ contains information about the name of the street\r\n            or nearby\
        \ landmarks, for example. Note that the search result does not contain the\
        \ PlaceProperties i.e. the status\r\n            or occupancy of the BikePoint,\
        \ to get that information you should retrieve the BikePoint by its id on /BikePoint/id."
      operationId: "BikePoint_Search"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "query"
        in: "query"
        description: "The search term e.g. \"St. James\""
        required: true
        type: "string"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Tfl.Api.Presentation.Entities.Place"
  /Cabwise/search:
    get:
      tags:
      - "Cabwise"
      summary: "Gets taxis and minicabs contact information"
      operationId: "Cabwise_Get"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "lat"
        in: "query"
        description: "Latitude"
        required: true
        type: "number"
        format: "double"
      - name: "lon"
        in: "query"
        description: "Longitude"
        required: true
        type: "number"
        format: "double"
      - name: "optype"
        in: "query"
        description: "Operator Type e.g Minicab, Executive, Limousine"
        required: false
        type: "string"
      - name: "wc"
        in: "query"
        description: "Wheelchair accessible"
        required: false
        type: "string"
      - name: "radius"
        in: "query"
        description: "The radius of the bounding circle in metres"
        required: false
        type: "number"
        format: "double"
      - name: "name"
        in: "query"
        description: "Trading name of operating company"
        required: false
        type: "string"
      - name: "maxResults"
        in: "query"
        description: "An optional parameter to limit the number of results return.\
          \ Default and maximum is 20."
        required: false
        type: "integer"
        format: "int32"
      - name: "legacyFormat"
        in: "query"
        description: "Legacy Format"
        required: false
        type: "boolean"
      - name: "forceXml"
        in: "query"
        description: "Force Xml"
        required: false
        type: "boolean"
      - name: "twentyFourSevenOnly"
        in: "query"
        description: "Twenty Four Seven Only"
        required: false
        type: "boolean"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/System.Object"
  /Journey/Meta/Modes:
    get:
      tags:
      - "Journey"
      summary: "Gets a list of all of the available journey planner modes"
      operationId: "Journey_Meta"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters: []
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Tfl.Api.Presentation.Entities.Mode"
  /Journey/JourneyResults/{from}/to/{to}:
    get:
      tags:
      - "Journey"
      summary: "Perform a Journey Planner search from the parameters specified in\
        \ simple types"
      operationId: "Journey_JourneyResults"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "from"
        in: "path"
        description: "Origin of the journey. Can be WGS84 coordinates expressed as\
          \ \"lat,long\", a UK postcode, a Naptan (StopPoint) id, an ICS StopId, or\
          \ a free-text string (will cause disambiguation unless it exactly matches\
          \ a point of interest name)."
        required: true
        type: "string"
      - name: "to"
        in: "path"
        description: "Destination of the journey. Can be WGS84 coordinates expressed\
          \ as \"lat,long\", a UK postcode, a Naptan (StopPoint) id, an ICS StopId,\
          \ or a free-text string (will cause disambiguation unless it exactly matches\
          \ a point of interest name)."
        required: true
        type: "string"
      - name: "via"
        in: "query"
        description: "Travel through point on the journey. Can be WGS84 coordinates\
          \ expressed as \"lat,long\", a UK postcode, a Naptan (StopPoint) id, an\
          \ ICS StopId, or a free-text string (will cause disambiguation unless it\
          \ exactly matches a point of interest name)."
        required: false
        type: "string"
      - name: "nationalSearch"
        in: "query"
        description: "Does the journey cover stops outside London? eg. \"nationalSearch=true\""
        required: false
        type: "boolean"
      - name: "date"
        in: "query"
        description: "The date must be in yyyyMMdd format"
        required: false
        type: "string"
      - name: "time"
        in: "query"
        description: "The time must be in HHmm format"
        required: false
        type: "string"
      - name: "timeIs"
        in: "query"
        description: "Does the time given relate to arrival or leaving time? Possible\
          \ options: \"departing\" | \"arriving\""
        required: false
        type: "string"
        enum:
        - "Arriving"
        - "Departing"
      - name: "journeyPreference"
        in: "query"
        description: "The journey preference eg possible options: \"leastinterchange\"\
          \ | \"leasttime\" | \"leastwalking\""
        required: false
        type: "string"
        enum:
        - "LeastInterchange"
        - "LeastTime"
        - "LeastWalking"
      - name: "mode"
        in: "query"
        description: "The mode must be a comma separated list of modes. eg possible\
          \ options: \"public-bus,overground,train,tube,coach,dlr,cablecar,tram,river,walking,cycle\""
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "accessibilityPreference"
        in: "query"
        description: "The accessibility preference must be a comma separated list\
          \ eg. \"noSolidStairs,noEscalators,noElevators,stepFreeToVehicle,stepFreeToPlatform\""
        required: false
        type: "array"
        items:
          type: "string"
          enum:
          - "NoRequirements"
          - "NoSolidStairs"
          - "NoEscalators"
          - "NoElevators"
          - "StepFreeToVehicle"
          - "StepFreeToPlatform"
        collectionFormat: "multi"
      - name: "fromName"
        in: "query"
        description: "An optional name to associate with the origin of the journey\
          \ in the results."
        required: false
        type: "string"
      - name: "toName"
        in: "query"
        description: "An optional name to associate with the destination of the journey\
          \ in the results."
        required: false
        type: "string"
      - name: "viaName"
        in: "query"
        description: "An optional name to associate with the via point of the journey\
          \ in the results."
        required: false
        type: "string"
      - name: "maxTransferMinutes"
        in: "query"
        description: "The max walking time in minutes for transfer eg. \"120\""
        required: false
        type: "string"
      - name: "maxWalkingMinutes"
        in: "query"
        description: "The max walking time in minutes for journeys eg. \"120\""
        required: false
        type: "string"
      - name: "walkingSpeed"
        in: "query"
        description: "The walking speed. eg possible options: \"slow\" | \"average\"\
          \ | \"fast\"."
        required: false
        type: "string"
        enum:
        - "Slow"
        - "Average"
        - "Fast"
      - name: "cyclePreference"
        in: "query"
        description: "The cycle preference. eg possible options: \"allTheWay\" | \"\
          leaveAtStation\" | \"takeOnTransport\" | \"cycleHire\""
        required: false
        type: "string"
        enum:
        - "None"
        - "LeaveAtStation"
        - "TakeOnTransport"
        - "AllTheWay"
        - "CycleHire"
      - name: "adjustment"
        in: "query"
        description: "Time adjustment command. eg possible options: \"TripFirst\"\
          \ | \"TripLast\""
        required: false
        type: "string"
      - name: "bikeProficiency"
        in: "query"
        description: "A comma separated list of cycling proficiency levels. eg possible\
          \ options: \"easy,moderate,fast\""
        required: false
        type: "array"
        items:
          type: "string"
          enum:
          - "Easy"
          - "Moderate"
          - "Fast"
        collectionFormat: "multi"
      - name: "alternativeCycle"
        in: "query"
        description: "Option to determine whether to return alternative cycling journey"
        required: false
        type: "boolean"
      - name: "alternativeWalking"
        in: "query"
        description: "Option to determine whether to return alternative walking journey"
        required: false
        type: "boolean"
      - name: "applyHtmlMarkup"
        in: "query"
        description: "Flag to determine whether certain text (e.g. walking instructions)\
          \ should be output with HTML tags or not."
        required: false
        type: "boolean"
      - name: "useMultiModalCall"
        in: "query"
        description: "A boolean to indicate whether or not to return 3 public transport\
          \ journeys, a bus journey, a cycle hire journey, a personal cycle journey\
          \ and a walking journey"
        required: false
        type: "boolean"
      - name: "walkingOptimization"
        in: "query"
        description: "A boolean to indicate whether to optimize journeys using walking"
        required: false
        type: "boolean"
      - name: "taxiOnlyTrip"
        in: "query"
        description: "A boolean to indicate whether to return one or more taxi journeys.\
          \ Note, setting this to true will override \"useMultiModalCall\"."
        required: false
        type: "boolean"
      - name: "routeBetweenEntrances"
        in: "query"
        description: "A boolean to indicate whether public transport routes should\
          \ include directions between platforms and station entrances."
        required: false
        type: "boolean"
      - name: "useRealTimeLiveArrivals"
        in: "query"
        description: "A boolean to indicate if we want to receive real time live arrivals\
          \ data where available."
        required: false
        type: "boolean"
      - name: "calcOneDirection"
        in: "query"
        description: "A boolean to make Journey Planner calculate journeys in one\
          \ temporal direction only. In other words, only calculate journeys after\
          \ the 'depart' time, or before the 'arrive' time. By default, the Journey\
          \ Planner engine (EFA) calculates journeys in both temporal directions."
        required: false
        type: "boolean"
      - name: "includeAlternativeRoutes"
        in: "query"
        description: "A boolean to make Journey Planner return alternative routes.\
          \ Alternative routes are calculated by removing one or more lines included\
          \ in the fastest route and re-calculating. By default, these journeys will\
          \ not be returned."
        required: false
        type: "boolean"
      - name: "overrideMultiModalScenario"
        in: "query"
        description: "An optional integer to indicate what multi modal scenario we\
          \ want to use."
        required: false
        type: "integer"
        format: "int32"
      - name: "combineTransferLegs"
        in: "query"
        description: "A boolean to indicate whether walking leg to station entrance\
          \ and walking leg from station entrance to platform should be combined.\
          \ Defaults to true"
        required: false
        type: "boolean"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/Tfl.Api.Presentation.Entities.JourneyPlanner.ItineraryResult"
  /Line/Meta/Modes:
    get:
      tags:
      - "Line"
      summary: "Gets a list of valid modes"
      operationId: "Line_MetaModes"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters: []
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Tfl.Api.Presentation.Entities.Mode"
  /Line/Meta/Severity:
    get:
      tags:
      - "Line"
      summary: "Gets a list of valid severity codes"
      operationId: "Line_MetaSeverity"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters: []
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Tfl.Api.Presentation.Entities.StatusSeverity"
  /Line/Meta/DisruptionCategories:
    get:
      tags:
      - "Line"
      summary: "Gets a list of valid disruption categories"
      operationId: "Line_MetaDisruptionCategories"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters: []
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              type: "string"
  /Line/Meta/ServiceTypes:
    get:
      tags:
      - "Line"
      summary: "Gets a list of valid ServiceTypes to filter on"
      operationId: "Line_MetaServiceTypes"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters: []
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              type: "string"
  /Line/{ids}:
    get:
      tags:
      - "Line"
      summary: "Gets lines that match the specified line ids."
      operationId: "Line_Get"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "ids"
        in: "path"
        description: "A comma-separated list of line ids e.g. victoria,circle,N133.\
          \ Max. approx. 20 ids."
        required: true
        type: "array"
        items:
          type: "string"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Tfl.Api.Presentation.Entities.Line"
  /Line/Mode/{modes}:
    get:
      tags:
      - "Line"
      summary: "Gets lines that serve the given modes."
      operationId: "Line_GetByMode"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "modes"
        in: "path"
        description: "A comma-separated list of modes e.g. tube,dlr"
        required: true
        type: "array"
        items:
          type: "string"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Tfl.Api.Presentation.Entities.Line"
  /Line/Route:
    get:
      tags:
      - "Line"
      summary: "Get all valid routes for all lines, including the name and id of the\
        \ originating and terminating stops for each route."
      operationId: "Line_Route"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "serviceTypes"
        in: "query"
        description: "A comma seperated list of service types to filter on. Supported\
          \ values: Regular, Night. Defaulted to 'Regular' if not specified"
        required: false
        type: "array"
        items:
          type: "string"
          enum:
          - "Regular"
          - "Night"
        collectionFormat: "multi"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Tfl.Api.Presentation.Entities.Line"
  /Line/{ids}/Route:
    get:
      tags:
      - "Line"
      summary: "Get all valid routes for given line ids, including the name and id\
        \ of the originating and terminating stops for each route."
      operationId: "Line_LineRoutesByIds"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "ids"
        in: "path"
        description: "A comma-separated list of line ids e.g. victoria,circle,N133.\
          \ Max. approx. 20 ids."
        required: true
        type: "array"
        items:
          type: "string"
      - name: "serviceTypes"
        in: "query"
        description: "A comma seperated list of service types to filter on. Supported\
          \ values: Regular, Night. Defaulted to 'Regular' if not specified"
        required: false
        type: "array"
        items:
          type: "string"
          enum:
          - "Regular"
          - "Night"
        collectionFormat: "multi"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Tfl.Api.Presentation.Entities.Line"
  /Line/Mode/{modes}/Route:
    get:
      tags:
      - "Line"
      summary: "Gets all lines and their valid routes for given modes, including the\
        \ name and id of the originating and terminating stops for each route"
      operationId: "Line_RouteByMode"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "modes"
        in: "path"
        description: "A comma-separated list of modes e.g. tube,dlr"
        required: true
        type: "array"
        items:
          type: "string"
      - name: "serviceTypes"
        in: "query"
        description: "A comma seperated list of service types to filter on. Supported\
          \ values: Regular, Night. Defaulted to 'Regular' if not specified"
        required: false
        type: "array"
        items:
          type: "string"
          enum:
          - "Regular"
          - "Night"
        collectionFormat: "multi"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Tfl.Api.Presentation.Entities.Line"
  /Line/{id}/Route/Sequence/{direction}:
    get:
      tags:
      - "Line"
      summary: "Gets all valid routes for given line id, including the sequence of\
        \ stops on each route."
      operationId: "Line_RouteSequence"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "id"
        in: "path"
        description: "A single line id e.g. victoria"
        required: true
        type: "string"
      - name: "direction"
        in: "path"
        description: "The direction of travel. Can be inbound or outbound."
        required: true
        type: "string"
        enum:
        - "inbound"
        - "outbound"
        - "all"
      - name: "serviceTypes"
        in: "query"
        description: "A comma seperated list of service types to filter on. Supported\
          \ values: Regular, Night. Defaulted to 'Regular' if not specified"
        required: false
        type: "array"
        items:
          type: "string"
          enum:
          - "Regular"
          - "Night"
        collectionFormat: "multi"
      - name: "excludeCrowding"
        in: "query"
        description: "That excludes crowding from line disruptions. Can be true or\
          \ false."
        required: false
        type: "boolean"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/Tfl.Api.Presentation.Entities.RouteSequence"
  /Line/{ids}/Status/{StartDate}/to/{EndDate}:
    get:
      tags:
      - "Line"
      summary: "Gets the line status for given line ids during the provided dates\
        \ e.g Minor Delays"
      operationId: "Line_Status"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "ids"
        in: "path"
        description: "A comma-separated list of line ids e.g. victoria,circle,N133.\
          \ Max. approx. 20 ids."
        required: true
        type: "array"
        items:
          type: "string"
      - name: "detail"
        in: "query"
        description: "Include details of the disruptions that are causing the line\
          \ status including the affected stops and routes"
        required: false
        type: "boolean"
      - name: "startDate"
        in: "query"
        required: true
        type: "string"
      - name: "endDate"
        in: "query"
        required: true
        type: "string"
      - name: "dateRange.startDate"
        in: "query"
        required: false
        type: "string"
        format: "date-time"
      - name: "dateRange.endDate"
        in: "query"
        required: false
        type: "string"
        format: "date-time"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Tfl.Api.Presentation.Entities.Line"
  /Line/{ids}/Status:
    get:
      tags:
      - "Line"
      summary: "Gets the line status of for given line ids e.g Minor Delays"
      operationId: "Line_StatusByIds"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "ids"
        in: "path"
        description: "A comma-separated list of line ids e.g. victoria,circle,N133.\
          \ Max. approx. 20 ids."
        required: true
        type: "array"
        items:
          type: "string"
      - name: "detail"
        in: "query"
        description: "Include details of the disruptions that are causing the line\
          \ status including the affected stops and routes"
        required: false
        type: "boolean"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Tfl.Api.Presentation.Entities.Line"
  /Line/Search/{query}:
    get:
      tags:
      - "Line"
      summary: "Search for lines or routes matching the query string"
      operationId: "Line_Search"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "query"
        in: "path"
        description: "Search term e.g victoria"
        required: true
        type: "string"
      - name: "modes"
        in: "query"
        description: "Optionally filter by the specified modes"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "serviceTypes"
        in: "query"
        description: "A comma seperated list of service types to filter on. Supported\
          \ values: Regular, Night. Defaulted to 'Regular' if not specified"
        required: false
        type: "array"
        items:
          type: "string"
          enum:
          - "Regular"
          - "Night"
        collectionFormat: "multi"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/Tfl.Api.Presentation.Entities.RouteSearchResponse"
  /Line/Status/{severity}:
    get:
      tags:
      - "Line"
      summary: "Gets the line status for all lines with a given severity\r\n     \
        \       A list of valid severity codes can be obtained from a call to Line/Meta/Severity"
      operationId: "Line_StatusBySeverity"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "severity"
        in: "path"
        description: "The level of severity (eg: a number from 0 to 14)"
        required: true
        type: "integer"
        format: "int32"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Tfl.Api.Presentation.Entities.Line"
  /Line/Mode/{modes}/Status:
    get:
      tags:
      - "Line"
      summary: "Gets the line status of for all lines for the given modes"
      operationId: "Line_StatusByMode"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "modes"
        in: "path"
        description: "A comma-separated list of modes to filter by. e.g. tube,dlr"
        required: true
        type: "array"
        items:
          type: "string"
      - name: "detail"
        in: "query"
        description: "Include details of the disruptions that are causing the line\
          \ status including the affected stops and routes"
        required: false
        type: "boolean"
      - name: "severityLevel"
        in: "query"
        description: "If specified, ensures that only those line status(es) are returned\
          \ within the lines that have disruptions with the matching severity level."
        required: false
        type: "string"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Tfl.Api.Presentation.Entities.Line"
  /Line/{id}/StopPoints:
    get:
      tags:
      - "Line"
      summary: "Gets a list of the stations that serve the given line id"
      operationId: "Line_StopPoints"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "id"
        in: "path"
        description: "A single line id e.g. victoria"
        required: true
        type: "string"
      - name: "tflOperatedNationalRailStationsOnly"
        in: "query"
        description: "If the national-rail line is requested, this flag will filter\
          \ the national rail stations so that only those operated by TfL are returned"
        required: false
        type: "boolean"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Tfl.Api.Presentation.Entities.StopPoint"
  /Line/{id}/Timetable/{fromStopPointId}:
    get:
      tags:
      - "Line"
      summary: "Gets the timetable for a specified station on the give line"
      operationId: "Line_Timetable"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "fromStopPointId"
        in: "path"
        description: "The originating station's stop point id (station naptan code\
          \ e.g. 940GZZLUASL, you can use /StopPoint/Search/{query} endpoint to find\
          \ a stop point id from a station name)"
        required: true
        type: "string"
      - name: "id"
        in: "path"
        description: "A single line id e.g. victoria"
        required: true
        type: "string"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/Tfl.Api.Presentation.Entities.TimetableResponse"
  /Line/{id}/Timetable/{fromStopPointId}/to/{toStopPointId}:
    get:
      tags:
      - "Line"
      summary: "Gets the timetable for a specified station on the give line with specified\
        \ destination"
      operationId: "Line_TimetableTo"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "fromStopPointId"
        in: "path"
        description: "The originating station's stop point id (station naptan code\
          \ e.g. 940GZZLUASL, you can use /StopPoint/Search/{query} endpoint to find\
          \ a stop point id from a station name)"
        required: true
        type: "string"
      - name: "id"
        in: "path"
        description: "A single line id e.g. victoria"
        required: true
        type: "string"
      - name: "toStopPointId"
        in: "path"
        description: "The destination stations's Naptan code"
        required: true
        type: "string"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/Tfl.Api.Presentation.Entities.TimetableResponse"
  /Line/{ids}/Disruption:
    get:
      tags:
      - "Line"
      summary: "Get disruptions for the given line ids"
      operationId: "Line_Disruption"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "ids"
        in: "path"
        description: "A comma-separated list of line ids e.g. victoria,circle,N133.\
          \ Max. approx. 20 ids."
        required: true
        type: "array"
        items:
          type: "string"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Tfl.Api.Presentation.Entities.Disruption"
  /Line/Mode/{modes}/Disruption:
    get:
      tags:
      - "Line"
      summary: "Get disruptions for all lines of the given modes."
      operationId: "Line_DisruptionByMode"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "modes"
        in: "path"
        description: "A comma-separated list of modes e.g. tube,dlr"
        required: true
        type: "array"
        items:
          type: "string"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Tfl.Api.Presentation.Entities.Disruption"
  /Line/{ids}/Arrivals/{stopPointId}:
    get:
      tags:
      - "Line"
      summary: "Get the list of arrival predictions for given line ids based at the\
        \ given stop"
      operationId: "Line_Arrivals"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "ids"
        in: "path"
        description: "A comma-separated list of line ids e.g. victoria,circle,N133.\
          \ Max. approx. 20 ids."
        required: true
        type: "array"
        items:
          type: "string"
      - name: "stopPointId"
        in: "path"
        description: "Optional. Id of stop to get arrival predictions for (station\
          \ naptan code e.g. 940GZZLUASL, you can use /StopPoint/Search/{query} endpoint\
          \ to find a stop point id from a station name)"
        required: true
        type: "string"
      - name: "direction"
        in: "query"
        description: "Optional. The direction of travel. Can be inbound or outbound\
          \ or all. If left blank, and destinationStopId is set, will default to all"
        required: false
        type: "string"
        enum:
        - "inbound"
        - "outbound"
        - "all"
      - name: "destinationStationId"
        in: "query"
        description: "Optional. Id of destination stop"
        required: false
        type: "string"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Tfl.Api.Presentation.Entities.Prediction"
  /Mode/ActiveServiceTypes:
    get:
      tags:
      - "Mode"
      summary: "Returns the service type active for a mode.\r\n            Currently\
        \ only supports tube"
      operationId: "Mode_GetActiveServiceTypes"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters: []
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Tfl.Api.Presentation.Entities.ActiveServiceType"
  /Mode/{mode}/Arrivals:
    get:
      tags:
      - "Mode"
      summary: "Gets the next arrival predictions for all stops of a given mode"
      operationId: "Mode_Arrivals"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "mode"
        in: "path"
        description: "A mode name e.g. tube, dlr"
        required: true
        type: "string"
      - name: "count"
        in: "query"
        description: "A number of arrivals to return for each stop, -1 to return all\
          \ available."
        required: false
        type: "integer"
        format: "int32"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Tfl.Api.Presentation.Entities.Prediction"
  /Occupancy/CarPark/{id}:
    get:
      tags:
      - "Occupancy"
      summary: "Gets the occupancy for a car park with a given id"
      operationId: "Occupancy_Get"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "id"
        in: "path"
        description: ""
        required: true
        type: "string"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/Tfl.Api.Presentation.Entities.CarParkOccupancy"
  /Occupancy/CarPark:
    get:
      tags:
      - "Occupancy"
      summary: "Gets the occupancy for all car parks that have occupancy data"
      operationId: "Occupancy_Get"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters: []
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Tfl.Api.Presentation.Entities.CarParkOccupancy"
  /Occupancy/ChargeConnector/{ids}:
    get:
      tags:
      - "Occupancy"
      summary: "Gets the occupancy for a charge connectors with a given id (sourceSystemPlaceId)"
      operationId: "Occupancy_GetChargeConnectorStatus"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "ids"
        in: "path"
        required: true
        type: "array"
        items:
          type: "string"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Tfl.Api.Presentation.Entities.ChargeConnectorOccupancy"
  /Occupancy/ChargeConnector:
    get:
      tags:
      - "Occupancy"
      summary: "Gets the occupancy for all charge connectors"
      operationId: "Occupancy_GetAllChargeConnectorStatus"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters: []
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Tfl.Api.Presentation.Entities.ChargeConnectorOccupancy"
  /Occupancy/BikePoints/{ids}:
    get:
      tags:
      - "Occupancy"
      summary: "Get the occupancy for bike points."
      operationId: "Occupancy_GetBikePointsOccupancies"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "ids"
        in: "path"
        description: ""
        required: true
        type: "array"
        items:
          type: "string"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Tfl.Api.Presentation.Entities.BikePointOccupancy"
  /Place/Meta/Categories:
    get:
      tags:
      - "Place"
      summary: "Gets a list of all of the available place property categories and\
        \ keys."
      operationId: "Place_MetaCategories"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters: []
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Tfl.Api.Presentation.Entities.PlaceCategory"
  /Place/Meta/PlaceTypes:
    get:
      tags:
      - "Place"
      summary: "Gets a list of the available types of Place."
      operationId: "Place_MetaPlaceTypes"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters: []
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Tfl.Api.Presentation.Entities.PlaceCategory"
  /Place/Address/Streets/{Postcode}:
    get:
      tags:
      - "Place"
      summary: "Gets the set of streets associated with a post code."
      operationId: "Place_GetStreetsByPostCode"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "postcode"
        in: "query"
        required: true
        type: "string"
      - name: "postcodeInput.postcode"
        in: "query"
        required: false
        type: "string"
        pattern: "^(([gG][iI][rR] {0,}0[aA]{2})|((([a-pr-uwyzA-PR-UWYZ][a-hk-yA-HK-Y]?[0-9][0-9]?)|(([a-pr-uwyzA-PR-UWYZ][0-9][a-hjkstuwA-HJKSTUW])|([a-pr-uwyzA-PR-UWYZ][a-hk-yA-HK-Y][0-9][abehmnprv-yABEHMNPRV-Y])))\
          \ {0,}[0-9][abd-hjlnp-uw-zABD-HJLNP-UW-Z]{2}))$"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/System.Object"
  /Place/Type/{types}:
    get:
      tags:
      - "Place"
      summary: "Gets all places of a given type"
      operationId: "Place_GetByType"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "types"
        in: "path"
        description: "A comma-separated list of the types to return. Max. approx 12\
          \ types.\r\n            A valid list of place types can be obtained from\
          \ the /Place/Meta/placeTypes endpoint."
        required: true
        type: "array"
        items:
          type: "string"
      - name: "activeOnly"
        in: "query"
        description: "An optional parameter to limit the results to active records\
          \ only (Currently only the 'VariableMessageSign' place type is supported)"
        required: false
        type: "boolean"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Tfl.Api.Presentation.Entities.Place"
  /Place/{id}:
    get:
      tags:
      - "Place"
      summary: "Gets the place with the given id."
      operationId: "Place_Get"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "id"
        in: "path"
        description: "The id of the place, you can use the /Place/Types/{types} endpoint\
          \ to get a list of places for a given type including their ids"
        required: true
        type: "string"
      - name: "includeChildren"
        in: "query"
        description: "Defaults to false. If true child places e.g. individual charging\
          \ stations at a charge point while be included, otherwise just the URLs\
          \ of any child places will be returned"
        required: false
        type: "boolean"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Tfl.Api.Presentation.Entities.Place"
  /Place:
    get:
      tags:
      - "Place"
      summary: "Gets the places that lie within a geographic region. The geographic\
        \ region of interest can either be specified\r\n            by using a lat/lon\
        \ geo-point and a radius in metres to return places within the locus defined\
        \ by the lat/lon of\r\n            its centre or alternatively, by the use\
        \ of a bounding box defined by the lat/lon of its north-west and south-east\
        \ corners.\r\n            Optionally filters on type and can strip properties\
        \ for a smaller payload."
      operationId: "Place_GetByGeo"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "radius"
        in: "query"
        description: "The radius of the bounding circle in metres when only lat/lon\
          \ are specified."
        required: false
        type: "number"
        format: "double"
      - name: "categories"
        in: "query"
        description: "An optional list of comma separated property categories to return\
          \ in the Place's property bag. If null or empty, all categories of property\
          \ are returned. Pass the keyword \"none\" to return no properties (a valid\
          \ list of categories can be obtained from the /Place/Meta/categories endpoint)"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "includeChildren"
        in: "query"
        description: "Defaults to false. If true child places e.g. individual charging\
          \ stations at a charge point while be included, otherwise just the URLs\
          \ of any child places will be returned"
        required: false
        type: "boolean"
      - name: "type"
        in: "query"
        description: "Place types to filter on, or null to return all types"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "activeOnly"
        in: "query"
        description: "An optional parameter to limit the results to active records\
          \ only (Currently only the 'VariableMessageSign' place type is supported)"
        required: false
        type: "boolean"
      - name: "numberOfPlacesToReturn"
        in: "query"
        description: "If specified, limits the number of returned places equal to\
          \ the given value"
        required: false
        type: "integer"
        format: "int32"
      - name: "placeGeo.swLat"
        in: "query"
        required: false
        type: "number"
        format: "double"
      - name: "placeGeo.swLon"
        in: "query"
        required: false
        type: "number"
        format: "double"
      - name: "placeGeo.neLat"
        in: "query"
        required: false
        type: "number"
        format: "double"
      - name: "placeGeo.neLon"
        in: "query"
        required: false
        type: "number"
        format: "double"
      - name: "placeGeo.lat"
        in: "query"
        required: false
        type: "number"
        format: "double"
      - name: "placeGeo.lon"
        in: "query"
        required: false
        type: "number"
        format: "double"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Tfl.Api.Presentation.Entities.StopPoint"
  /Place/{type}/At/{Lat}/{Lon}:
    get:
      tags:
      - "Place"
      summary: "Gets any places of the given type whose geography intersects the given\
        \ latitude and longitude. In practice this means the Place\r\n           \
        \ must be polygonal e.g. a BoroughBoundary."
      operationId: "Place_GetAt"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "type"
        in: "path"
        description: "The place type (a valid list of place types can be obtained\
          \ from the /Place/Meta/placeTypes endpoint)"
        required: true
        type: "array"
        items:
          type: "string"
      - name: "lat"
        in: "query"
        required: true
        type: "string"
      - name: "lon"
        in: "query"
        required: true
        type: "string"
      - name: "location.lat"
        in: "query"
        required: true
        type: "number"
        format: "double"
      - name: "location.lon"
        in: "query"
        required: true
        type: "number"
        format: "double"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/System.Object"
  /Place/{type}/overlay/{z}/{Lat}/{Lon}/{width}/{height}:
    get:
      tags:
      - "Place"
      summary: "Gets the place overlay for a given set of co-ordinates and a given\
        \ width/height."
      operationId: "Place_GetOverlay"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "z"
        in: "path"
        description: "The zoom level"
        required: true
        type: "integer"
        format: "int32"
      - name: "type"
        in: "path"
        description: "The place type (a valid list of place types can be obtained\
          \ from the /Place/Meta/placeTypes endpoint)"
        required: true
        type: "array"
        items:
          type: "string"
      - name: "width"
        in: "path"
        description: "The width of the requested overlay."
        required: true
        type: "integer"
        format: "int32"
      - name: "height"
        in: "path"
        description: "The height of the requested overlay."
        required: true
        type: "integer"
        format: "int32"
      - name: "lat"
        in: "query"
        required: true
        type: "string"
      - name: "lon"
        in: "query"
        required: true
        type: "string"
      - name: "location.lat"
        in: "query"
        required: true
        type: "number"
        format: "double"
      - name: "location.lon"
        in: "query"
        required: true
        type: "number"
        format: "double"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/System.Object"
  /Place/Search:
    get:
      tags:
      - "Place"
      summary: "Gets all places that matches the given query"
      operationId: "Place_Search"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "name"
        in: "query"
        description: "The name of the place, you can use the /Place/Types/{types}\
          \ endpoint to get a list of places for a given type including their names."
        required: true
        type: "string"
      - name: "types"
        in: "query"
        description: "A comma-separated list of the types to return. Max. approx 12\
          \ types."
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Tfl.Api.Presentation.Entities.Place"
  /Road:
    get:
      tags:
      - "Road"
      summary: "Gets all roads managed by TfL"
      operationId: "Road_Get"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters: []
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Tfl.Api.Presentation.Entities.RoadCorridor"
  /Road/{ids}:
    get:
      tags:
      - "Road"
      summary: "Gets the road with the specified id (e.g. A1)"
      operationId: "Road_Get"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "ids"
        in: "path"
        description: "Comma-separated list of road identifiers e.g. \"A406, A2\" (a\
          \ full list of supported road identifiers can be found at the /Road/ endpoint)"
        required: true
        type: "array"
        items:
          type: "string"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Tfl.Api.Presentation.Entities.RoadCorridor"
  /Road/{ids}/Status:
    get:
      tags:
      - "Road"
      summary: "Gets the specified roads with the status aggregated over the date\
        \ range specified, or now until the end of today if no dates are passed."
      operationId: "Road_Status"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "ids"
        in: "path"
        description: "Comma-separated list of road identifiers e.g. \"A406, A2\" or\
          \ use \"all\" to ignore id filter (a full list of supported road identifiers\
          \ can be found at the /Road/ endpoint)"
        required: true
        type: "array"
        items:
          type: "string"
      - name: "dateRangeNullable.startDate"
        in: "query"
        required: false
        type: "string"
        format: "date-time"
      - name: "dateRangeNullable.endDate"
        in: "query"
        required: false
        type: "string"
        format: "date-time"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Tfl.Api.Presentation.Entities.RoadCorridor"
  /Road/{ids}/Disruption:
    get:
      tags:
      - "Road"
      summary: "Get active disruptions, filtered by road ids"
      operationId: "Road_Disruption"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      - "application/geo+json"
      parameters:
      - name: "ids"
        in: "path"
        description: "Comma-separated list of road identifiers e.g. \"A406, A2\" use\
          \ all for all to ignore id filter (a full list of supported road identifiers\
          \ can be found at the /Road/ endpoint)"
        required: true
        type: "array"
        items:
          type: "string"
      - name: "stripContent"
        in: "query"
        description: "Optional, defaults to false. When true, removes every property/node\
          \ except for id, point, severity, severityDescription, startDate, endDate,\
          \ corridor details, location, comments and streets"
        required: false
        type: "boolean"
      - name: "severities"
        in: "query"
        description: "an optional list of Severity names to filter on (a valid list\
          \ of severities can be obtained from the /Road/Meta/severities endpoint)"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "categories"
        in: "query"
        description: "an optional list of category names to filter on (a valid list\
          \ of categories can be obtained from the /Road/Meta/categories endpoint)"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "closures"
        in: "query"
        description: "Optional, defaults to true. When true, always includes disruptions\
          \ that have road closures, regardless of the severity filter. When false,\
          \ the severity filter works as normal."
        required: false
        type: "boolean"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Tfl.Api.Presentation.Entities.RoadDisruption"
  /Road/all/Street/Disruption:
    get:
      tags:
      - "Road"
      summary: "Gets a list of disrupted streets. If no date filters are provided,\
        \ current disruptions are returned."
      operationId: "Road_DisruptedStreets"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "startDate"
        in: "query"
        description: "Optional, the start time to filter on."
        required: true
        type: "string"
        format: "date-time"
      - name: "endDate"
        in: "query"
        description: "Optional, The end time to filter on."
        required: true
        type: "string"
        format: "date-time"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/System.Object"
  /Road/all/Disruption/{disruptionIds}:
    get:
      tags:
      - "Road"
      summary: "Gets a list of active disruptions filtered by disruption Ids."
      operationId: "Road_DisruptionById"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      - "application/geo+json"
      parameters:
      - name: "disruptionIds"
        in: "path"
        description: "Comma-separated list of disruption identifiers to filter by."
        required: true
        type: "array"
        items:
          type: "string"
      - name: "stripContent"
        in: "query"
        description: "Optional, defaults to false. When true, removes every property/node\
          \ except for id, point, severity, severityDescription, startDate, endDate,\
          \ corridor details, location and comments."
        required: false
        type: "boolean"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/Tfl.Api.Presentation.Entities.RoadDisruption"
  /Road/Meta/Categories:
    get:
      tags:
      - "Road"
      summary: "Gets a list of valid RoadDisruption categories"
      operationId: "Road_MetaCategories"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters: []
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              type: "string"
  /Road/Meta/Severities:
    get:
      tags:
      - "Road"
      summary: "Gets a list of valid RoadDisruption severity codes"
      operationId: "Road_MetaSeverities"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters: []
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Tfl.Api.Presentation.Entities.StatusSeverity"
  /Search:
    get:
      tags:
      - "Search"
      summary: "Search the site for occurrences of the query string. The maximum number\
        \ of results returned is equal to the maximum page size\r\n            of\
        \ 100. To return subsequent pages, use the paginated overload."
      operationId: "Search_Get"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "query"
        in: "query"
        description: "The search query"
        required: true
        type: "string"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/Tfl.Api.Presentation.Entities.SearchResponse"
  /Search/BusSchedules:
    get:
      tags:
      - "Search"
      summary: "Searches the bus schedules folder on S3 for a given bus number."
      operationId: "Search_BusSchedules"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "query"
        in: "query"
        description: "The search query"
        required: true
        type: "string"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/Tfl.Api.Presentation.Entities.SearchResponse"
  /Search/Meta/SearchProviders:
    get:
      tags:
      - "Search"
      summary: "Gets the available searchProvider names."
      operationId: "Search_MetaSearchProviders"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters: []
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              type: "string"
  /Search/Meta/Categories:
    get:
      tags:
      - "Search"
      summary: "Gets the available search categories."
      operationId: "Search_MetaCategories"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters: []
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              type: "string"
  /Search/Meta/Sorts:
    get:
      tags:
      - "Search"
      summary: "Gets the available sorting options."
      operationId: "Search_MetaSorts"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters: []
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              type: "string"
  /StopPoint/Meta/Categories:
    get:
      tags:
      - "StopPoint"
      summary: "Gets the list of available StopPoint additional information categories"
      operationId: "StopPoint_MetaCategories"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters: []
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Tfl.Api.Presentation.Entities.StopPointCategory"
  /StopPoint/Meta/StopTypes:
    get:
      tags:
      - "StopPoint"
      summary: "Gets the list of available StopPoint types"
      operationId: "StopPoint_MetaStopTypes"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters: []
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              type: "string"
  /StopPoint/Meta/Modes:
    get:
      tags:
      - "StopPoint"
      summary: "Gets the list of available StopPoint modes"
      operationId: "StopPoint_MetaModes"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters: []
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Tfl.Api.Presentation.Entities.Mode"
  /StopPoint/{ids}:
    get:
      tags:
      - "StopPoint"
      summary: "Gets a list of StopPoints corresponding to the given list of stop\
        \ ids."
      operationId: "StopPoint_Get"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "ids"
        in: "path"
        description: "A comma-separated list of stop point ids (station naptan code\
          \ e.g. 940GZZLUASL). Max. approx. 20 ids.\r\n            You can use /StopPoint/Search/{query}\
          \ endpoint to find a stop point id from a station name."
        required: true
        type: "array"
        items:
          type: "string"
      - name: "includeCrowdingData"
        in: "query"
        description: "Include the crowding data (static). To Filter further use: /StopPoint/{ids}/Crowding/{line}"
        required: false
        type: "boolean"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Tfl.Api.Presentation.Entities.StopPoint"
  /StopPoint/{id}/placeTypes:
    get:
      tags:
      - "StopPoint"
      summary: "Get a list of places corresponding to a given id and place types."
      operationId: "StopPoint_Get"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "id"
        in: "path"
        description: "A naptan id for a stop point (station naptan code e.g. 940GZZLUASL)."
        required: true
        type: "string"
      - name: "placeTypes"
        in: "query"
        description: "A comcomma-separated value representing the place types."
        required: true
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Tfl.Api.Presentation.Entities.Place"
  /StopPoint/{id}/Crowding/{line}:
    get:
      tags:
      - "StopPoint"
      summary: "Gets all the Crowding data (static) for the StopPointId, plus crowding\
        \ data for a given line and optionally a particular direction."
      operationId: "StopPoint_Crowding"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "id"
        in: "path"
        description: "The Naptan id of the stop"
        required: true
        type: "string"
      - name: "line"
        in: "path"
        description: "A particular line e.g. victoria, circle, northern etc."
        required: true
        type: "string"
      - name: "direction"
        in: "query"
        description: "The direction of travel. Can be inbound or outbound."
        required: true
        type: "string"
        enum:
        - "inbound"
        - "outbound"
        - "all"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Tfl.Api.Presentation.Entities.StopPoint"
  /StopPoint/Type/{types}:
    get:
      tags:
      - "StopPoint"
      summary: "Gets all stop points of a given type"
      operationId: "StopPoint_GetByType"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "types"
        in: "path"
        description: "A comma-separated list of the types to return. Max. approx.\
          \ 12 types. \r\n            A list of valid stop types can be obtained from\
          \ the StopPoint/meta/stoptypes endpoint."
        required: true
        type: "array"
        items:
          type: "string"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Tfl.Api.Presentation.Entities.StopPoint"
  /StopPoint/Type/{types}/page/{page}:
    get:
      tags:
      - "StopPoint"
      summary: "Gets all the stop points of given type(s) with a page number"
      operationId: "StopPoint_GetByTypeWithPagination"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "types"
        in: "path"
        description: ""
        required: true
        type: "array"
        items:
          type: "string"
      - name: "page"
        in: "path"
        description: ""
        required: true
        type: "integer"
        format: "int32"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Tfl.Api.Presentation.Entities.StopPoint"
  /StopPoint/ServiceTypes:
    get:
      tags:
      - "StopPoint"
      summary: "Gets the service types for a given stoppoint"
      operationId: "StopPoint_GetServiceTypes"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "id"
        in: "query"
        description: "The Naptan id of the stop"
        required: true
        type: "string"
      - name: "lineIds"
        in: "query"
        description: "The lines which contain the given Naptan id (all lines relevant\
          \ to the given stoppoint if empty)"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "modes"
        in: "query"
        description: "The modes which the lines are relevant to (all if empty)"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Tfl.Api.Presentation.Entities.LineServiceType"
  /StopPoint/{id}/Arrivals:
    get:
      tags:
      - "StopPoint"
      summary: "Gets the list of arrival predictions for the given stop point id"
      operationId: "StopPoint_Arrivals"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "id"
        in: "path"
        description: "A StopPoint id (station naptan code e.g. 940GZZLUASL, you can\
          \ use /StopPoint/Search/{query} endpoint to find a stop point id from a\
          \ station name)"
        required: true
        type: "string"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Tfl.Api.Presentation.Entities.Prediction"
  /StopPoint/{id}/ArrivalDepartures:
    get:
      tags:
      - "StopPoint"
      summary: "Gets the list of arrival and departure predictions for the given stop\
        \ point id (overground, Elizabeth line and thameslink only)"
      operationId: "StopPoint_ArrivalDepartures"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "id"
        in: "path"
        description: "A StopPoint id (station naptan code e.g. 940GZZLUASL, you can\
          \ use /StopPoint/Search/{query} endpoint to find a stop point id from a\
          \ station name)"
        required: true
        type: "string"
      - name: "lineIds"
        in: "query"
        description: "A comma-separated list of line ids e.g. elizabeth, london-overground,\
          \ thameslink"
        required: true
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Tfl.Api.Presentation.Entities.ArrivalDeparture"
  /StopPoint/{id}/CanReachOnLine/{lineId}:
    get:
      tags:
      - "StopPoint"
      summary: "Gets Stopoints that are reachable from a station/line combination."
      operationId: "StopPoint_ReachableFrom"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "id"
        in: "path"
        description: "The id (station naptan code e.g. 940GZZLUASL, you can use /StopPoint/Search/{query}\
          \ endpoint to find a stop point id from a station name) of the stop point\
          \ to filter by"
        required: true
        type: "string"
      - name: "lineId"
        in: "path"
        description: "Line id of the line to filter by (e.g. victoria)"
        required: true
        type: "string"
      - name: "serviceTypes"
        in: "query"
        description: "A comma-separated list of service types to filter on. If not\
          \ specified. Supported values: Regular, Night. Defaulted to 'Regular' if\
          \ not specified"
        required: false
        type: "array"
        items:
          type: "string"
          enum:
          - "Regular"
          - "Night"
        collectionFormat: "multi"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Tfl.Api.Presentation.Entities.StopPoint"
  /StopPoint/{id}/Route:
    get:
      tags:
      - "StopPoint"
      summary: "Returns the route sections for all the lines that service the given\
        \ stop point ids"
      operationId: "StopPoint_Route"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "id"
        in: "path"
        description: "A stop point id (station naptan codes e.g. 940GZZLUASL, you\
          \ can use /StopPoint/Search/{query} endpoint to find a stop point id from\
          \ a station name)"
        required: true
        type: "string"
      - name: "serviceTypes"
        in: "query"
        description: "A comma-separated list of service types to filter on. If not\
          \ specified. Supported values: Regular, Night. Defaulted to 'Regular' if\
          \ not specified"
        required: false
        type: "array"
        items:
          type: "string"
          enum:
          - "Regular"
          - "Night"
        collectionFormat: "multi"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Tfl.Api.Presentation.Entities.StopPointRouteSection"
  /StopPoint/Mode/{modes}/Disruption:
    get:
      tags:
      - "StopPoint"
      summary: "Gets a distinct list of disrupted stop points for the given modes"
      operationId: "StopPoint_DisruptionByMode"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "modes"
        in: "path"
        description: "A comma-seperated list of modes e.g. tube,dlr"
        required: true
        type: "array"
        items:
          type: "string"
      - name: "includeRouteBlockedStops"
        in: "query"
        description: ""
        required: false
        type: "boolean"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Tfl.Api.Presentation.Entities.DisruptedPoint"
  /StopPoint/{ids}/Disruption:
    get:
      tags:
      - "StopPoint"
      summary: "Gets all disruptions for the specified StopPointId, plus disruptions\
        \ for any child Naptan records it may have."
      operationId: "StopPoint_Disruption"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "ids"
        in: "path"
        description: "A comma-seperated list of stop point ids. Max. approx. 20 ids.\r\
          \n            You can use /StopPoint/Search/{query} endpoint to find a stop\
          \ point id from a station name."
        required: true
        type: "array"
        items:
          type: "string"
      - name: "getFamily"
        in: "query"
        description: "Specify true to return disruptions for entire family, or false\
          \ to return disruptions for just this stop point. Defaults to false."
        required: false
        type: "boolean"
      - name: "includeRouteBlockedStops"
        in: "query"
        description: ""
        required: false
        type: "boolean"
      - name: "flattenResponse"
        in: "query"
        description: "Specify true to associate all disruptions with parent stop point.\
          \ (Only applicable when getFamily is true)."
        required: false
        type: "boolean"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Tfl.Api.Presentation.Entities.DisruptedPoint"
  /StopPoint/{id}/DirectionTo/{toStopPointId}:
    get:
      tags:
      - "StopPoint"
      summary: "Returns the canonical direction, \"inbound\" or \"outbound\", for\
        \ a given pair of stop point Ids in the direction from -&gt; to."
      operationId: "StopPoint_Direction"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "id"
        in: "path"
        description: "Originating stop id (station naptan code e.g. 940GZZLUASL, you\
          \ can use /StopPoint/Search/{query} endpoint to find a stop point id from\
          \ a station name)"
        required: true
        type: "string"
      - name: "toStopPointId"
        in: "path"
        description: "Destination stop id (station naptan code e.g. 940GZZLUASL, you\
          \ can use /StopPoint/Search/{query} endpoint to find a stop point id from\
          \ a station name)"
        required: true
        type: "string"
      - name: "lineId"
        in: "query"
        description: "Optional line id filter e.g. victoria"
        required: false
        type: "string"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "string"
  /StopPoint:
    get:
      tags:
      - "StopPoint"
      summary: "Gets a list of StopPoints within {radius} by the specified criteria"
      operationId: "StopPoint_GetByGeoPoint"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "stopTypes"
        in: "query"
        description: "a list of stopTypes that should be returned (a list of valid\
          \ stop types can be obtained from the StopPoint/meta/stoptypes endpoint)"
        required: true
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "radius"
        in: "query"
        description: "the radius of the bounding circle in metres (default : 200)"
        required: false
        type: "integer"
        format: "int32"
      - name: "useStopPointHierarchy"
        in: "query"
        description: "Re-arrange the output into a parent/child hierarchy"
        required: false
        type: "boolean"
      - name: "modes"
        in: "query"
        description: "the list of modes to search (comma separated mode names e.g.\
          \ tube,dlr)"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "categories"
        in: "query"
        description: "an optional list of comma separated property categories to return\
          \ in the StopPoint's property bag. If null or empty, all categories of property\
          \ are returned. Pass the keyword \"none\" to return no properties (a valid\
          \ list of categories can be obtained from the /StopPoint/Meta/categories\
          \ endpoint)"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "returnLines"
        in: "query"
        description: "true to return the lines that each stop point serves as a nested\
          \ resource"
        required: false
        type: "boolean"
      - name: "location.lat"
        in: "query"
        required: true
        type: "number"
        format: "double"
      - name: "location.lon"
        in: "query"
        required: true
        type: "number"
        format: "double"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/Tfl.Api.Presentation.Entities.StopPointsResponse"
  /StopPoint/Mode/{modes}:
    get:
      tags:
      - "StopPoint"
      summary: "Gets a list of StopPoints filtered by the modes available at that\
        \ StopPoint."
      operationId: "StopPoint_GetByMode"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "modes"
        in: "path"
        description: "A comma-seperated list of modes e.g. tube,dlr"
        required: true
        type: "array"
        items:
          type: "string"
      - name: "page"
        in: "query"
        description: "The data set page to return. Page 1 equates to the first 1000\
          \ stop points, page 2 equates to 1001-2000 etc. Must be entered for bus\
          \ mode as data set is too large."
        required: false
        type: "integer"
        format: "int32"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/Tfl.Api.Presentation.Entities.StopPointsResponse"
  /StopPoint/Search/{query}:
    get:
      tags:
      - "StopPoint"
      summary: "Search StopPoints by their common name, or their 5-digit Countdown\
        \ Bus Stop Code."
      operationId: "StopPoint_Search"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "query"
        in: "path"
        description: "The query string, case-insensitive. Leading and trailing wildcards\
          \ are applied automatically."
        required: true
        type: "string"
      - name: "modes"
        in: "query"
        description: "An optional, parameter separated list of the modes to filter\
          \ by"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "faresOnly"
        in: "query"
        description: "True to only return stations in that have Fares data available\
          \ for single fares to another station."
        required: false
        type: "boolean"
      - name: "maxResults"
        in: "query"
        description: "An optional result limit, defaulting to and with a maximum of\
          \ 50. Since children of the stop point heirarchy are returned for matches,\r\
          \n            it is possible that the flattened result set will contain\
          \ more than 50 items."
        required: false
        type: "integer"
        format: "int32"
      - name: "lines"
        in: "query"
        description: "An optional, parameter separated list of the lines to filter\
          \ by"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "includeHubs"
        in: "query"
        description: "If true, returns results including HUBs."
        required: false
        type: "boolean"
      - name: "tflOperatedNationalRailStationsOnly"
        in: "query"
        description: "If the national-rail mode is included, this flag will filter\
          \ the national rail stations so that only those operated by TfL are returned"
        required: false
        type: "boolean"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/Tfl.Api.Presentation.Entities.SearchResponse"
  /StopPoint/Search:
    get:
      tags:
      - "StopPoint"
      summary: "Search StopPoints by their common name, or their 5-digit Countdown\
        \ Bus Stop Code."
      operationId: "StopPoint_Search"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "query"
        in: "query"
        description: "The query string, case-insensitive. Leading and trailing wildcards\
          \ are applied automatically."
        required: true
        type: "string"
      - name: "modes"
        in: "query"
        description: "An optional, parameter separated list of the modes to filter\
          \ by"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "faresOnly"
        in: "query"
        description: "True to only return stations in that have Fares data available\
          \ for single fares to another station."
        required: false
        type: "boolean"
      - name: "maxResults"
        in: "query"
        description: "An optional result limit, defaulting to and with a maximum of\
          \ 50. Since children of the stop point heirarchy are returned for matches,\r\
          \n            it is possible that the flattened result set will contain\
          \ more than 50 items."
        required: false
        type: "integer"
        format: "int32"
      - name: "lines"
        in: "query"
        description: "An optional, parameter separated list of the lines to filter\
          \ by"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "includeHubs"
        in: "query"
        description: "If true, returns results including HUBs."
        required: false
        type: "boolean"
      - name: "tflOperatedNationalRailStationsOnly"
        in: "query"
        description: "If the national-rail mode is included, this flag will filter\
          \ the national rail stations so that only those operated by TfL are returned"
        required: false
        type: "boolean"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/Tfl.Api.Presentation.Entities.SearchResponse"
  /StopPoint/Sms/{id}:
    get:
      tags:
      - "StopPoint"
      summary: "Gets a StopPoint for a given sms code."
      operationId: "StopPoint_GetBySms"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "id"
        in: "path"
        description: "A 5-digit Countdown Bus Stop Code e.g. 73241, 50435, 56334."
        required: true
        type: "string"
      - name: "output"
        in: "query"
        description: "If set to \"web\", a 302 redirect to relevant website bus stop\
          \ page is returned. Valid values are : web. All other values are ignored."
        required: false
        type: "string"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/System.Object"
  /StopPoint/{stopPointId}/TaxiRanks:
    get:
      tags:
      - "StopPoint"
      summary: "Gets a list of taxi ranks corresponding to the given stop point id."
      operationId: "StopPoint_GetTaxiRanksByIds"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "stopPointId"
        in: "path"
        description: "stopPointId is required to get the taxi ranks."
        required: true
        type: "string"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Tfl.Api.Presentation.Entities.Place"
  /StopPoint/{stopPointId}/CarParks:
    get:
      tags:
      - "StopPoint"
      summary: "Get car parks corresponding to the given stop point id."
      operationId: "StopPoint_GetCarParksById"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "stopPointId"
        in: "path"
        description: "stopPointId is required to get the car parks."
        required: true
        type: "string"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Tfl.Api.Presentation.Entities.Place"
  /TravelTimes/overlay/{z}/mapcenter/{mapCenterLat}/{mapCenterLon}/pinlocation/{pinLat}/{pinLon}/dimensions/{width}/{height}:
    get:
      tags:
      - "TravelTime"
      summary: "Gets the TravelTime overlay."
      operationId: "TravelTime_GetOverlay"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "z"
        in: "path"
        description: "The zoom level."
        required: true
        type: "integer"
        format: "int32"
      - name: "pinLat"
        in: "path"
        description: "The latitude of the pin."
        required: true
        type: "number"
        format: "double"
      - name: "pinLon"
        in: "path"
        description: "The longitude of the pin."
        required: true
        type: "number"
        format: "double"
      - name: "mapCenterLat"
        in: "path"
        description: "The map center latitude."
        required: true
        type: "number"
        format: "double"
      - name: "mapCenterLon"
        in: "path"
        description: "The map center longitude."
        required: true
        type: "number"
        format: "double"
      - name: "scenarioTitle"
        in: "query"
        description: "The title of the scenario."
        required: true
        type: "string"
      - name: "timeOfDayId"
        in: "query"
        description: "The id for the time of day (AM/INTER/PM)"
        required: true
        type: "string"
      - name: "modeId"
        in: "query"
        description: "The id of the mode."
        required: true
        type: "string"
      - name: "width"
        in: "path"
        description: "The width of the requested overlay."
        required: true
        type: "integer"
        format: "int32"
      - name: "height"
        in: "path"
        description: "The height of the requested overlay."
        required: true
        type: "integer"
        format: "int32"
      - name: "direction"
        in: "query"
        description: "The direction of travel."
        required: true
        type: "string"
        enum:
        - "Average"
        - "From"
        - "To"
      - name: "travelTimeInterval"
        in: "query"
        description: "The total minutes between the travel time bands"
        required: true
        type: "integer"
        format: "int32"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/System.Object"
  ? /TravelTimes/compareOverlay/{z}/mapcenter/{mapCenterLat}/{mapCenterLon}/pinlocation/{pinLat}/{pinLon}/dimensions/{width}/{height}
  : get:
      tags:
      - "TravelTime"
      summary: "Gets the TravelTime overlay."
      operationId: "TravelTime_GetCompareOverlay"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "z"
        in: "path"
        description: "The zoom level."
        required: true
        type: "integer"
        format: "int32"
      - name: "pinLat"
        in: "path"
        description: "The latitude of the pin."
        required: true
        type: "number"
        format: "double"
      - name: "pinLon"
        in: "path"
        description: "The longitude of the pin."
        required: true
        type: "number"
        format: "double"
      - name: "mapCenterLat"
        in: "path"
        description: "The map center latitude."
        required: true
        type: "number"
        format: "double"
      - name: "mapCenterLon"
        in: "path"
        description: "The map center longitude."
        required: true
        type: "number"
        format: "double"
      - name: "scenarioTitle"
        in: "query"
        description: "The title of the scenario."
        required: true
        type: "string"
      - name: "timeOfDayId"
        in: "query"
        description: "The id for the time of day (AM/INTER/PM)"
        required: true
        type: "string"
      - name: "modeId"
        in: "query"
        description: "The id of the mode."
        required: true
        type: "string"
      - name: "width"
        in: "path"
        description: "The width of the requested overlay."
        required: true
        type: "integer"
        format: "int32"
      - name: "height"
        in: "path"
        description: "The height of the requested overlay."
        required: true
        type: "integer"
        format: "int32"
      - name: "direction"
        in: "query"
        description: "The direction of travel."
        required: true
        type: "string"
        enum:
        - "Average"
        - "From"
        - "To"
      - name: "travelTimeInterval"
        in: "query"
        description: "The total minutes between the travel time bands"
        required: true
        type: "integer"
        format: "int32"
      - name: "compareType"
        in: "query"
        required: true
        type: "string"
      - name: "compareValue"
        in: "query"
        required: true
        type: "string"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/System.Object"
  /Vehicle/{ids}/Arrivals:
    get:
      tags:
      - "Vehicle"
      summary: "Gets the predictions for a given list of vehicle Id's."
      operationId: "Vehicle_Get"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "ids"
        in: "path"
        description: "A comma-separated list of vehicle ids e.g. LX58CFV,LX11AZB,LX58CFE.\
          \ Max approx. 25 ids."
        required: true
        type: "array"
        items:
          type: "string"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Tfl.Api.Presentation.Entities.Prediction"
securityDefinitions:
  apiKey:
    description: "API Key Authentication"
    type: "apiKey"
    name: "app_key"
    in: "query"
  appId:
    description: "Application ID"
    type: "apiKey"
    name: "app_id"
    in: "query"
definitions:
  Tfl.Api.Presentation.Entities.AccidentStats.AccidentDetail:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int32"
        x-dataType: "Int"
      lat:
        type: "number"
        format: "double"
        x-dataType: "Double"
      lon:
        type: "number"
        format: "double"
        x-dataType: "Double"
      location:
        type: "string"
        x-dataType: "Text"
      date:
        type: "string"
        format: "date-time"
        x-dataType: "DateTime"
      severity:
        type: "string"
        x-dataType: "Text"
      borough:
        type: "string"
        x-dataType: "Text"
      casualties:
        type: "array"
        items:
          $ref: "#/definitions/Tfl.Api.Presentation.Entities.AccidentStats.Casualty"
        x-dataType: "[TflApiPresentationEntitiesAccidentStatsCasualty]"
      vehicles:
        type: "array"
        items:
          $ref: "#/definitions/Tfl.Api.Presentation.Entities.AccidentStats.Vehicle"
        x-dataType: "[TflApiPresentationEntitiesAccidentStatsVehicle]"
    example:
      date: "2000-01-23T04:56:07.000+00:00"
      severity: "severity"
      vehicles:
      - type: "type"
      - type: "type"
      lon: 1.4658129805029452
      location: "location"
      id: 0
      borough: "borough"
      casualties:
      - severity: "severity"
        mode: "mode"
        ageBand: "ageBand"
        class: "class"
        age: 5
      - severity: "severity"
        mode: "mode"
        ageBand: "ageBand"
        class: "class"
        age: 5
      lat: 6.027456183070403
  Tfl.Api.Presentation.Entities.AccidentStats.Casualty:
    type: "object"
    properties:
      age:
        type: "integer"
        format: "int32"
        x-dataType: "Int"
      class:
        type: "string"
        x-dataType: "Text"
      severity:
        type: "string"
        x-dataType: "Text"
      mode:
        type: "string"
        x-dataType: "Text"
      ageBand:
        type: "string"
        x-dataType: "Text"
    example:
      severity: "severity"
      mode: "mode"
      ageBand: "ageBand"
      class: "class"
      age: 5
  Tfl.Api.Presentation.Entities.AccidentStats.Vehicle:
    type: "object"
    properties:
      type:
        type: "string"
        x-dataType: "Text"
    example:
      type: "type"
  Tfl.Api.Presentation.Entities.AccidentStats.AccidentStatsOrderedSummary:
    type: "object"
    properties:
      year:
        type: "integer"
        format: "int32"
        x-dataType: "Int"
      borough:
        type: "string"
        x-dataType: "Text"
      accidents:
        type: "integer"
        format: "int32"
        x-dataType: "Int"
  System.Object:
    type: "object"
  Tfl.Api.Presentation.Entities.Place:
    type: "object"
    properties:
      id:
        type: "string"
        description: "A unique identifier."
        x-dataType: "Text"
      url:
        type: "string"
        description: "The unique location of this resource."
        x-dataType: "Text"
[...]
